.register {
    grid-template-columns : 1fr 1fr;
    gap : 2rem;
    background-color: black;
    
}

.register_details {
    display : flex;
    flex-direction : column;
    justify-content :space-between;
    background : linear-gradient(135deg,#005EFF,#004CDF);
    color : var(--text-color);
    padding : 1rem;
    height: 100%;
    width: 100%;
}


.register_logo {
    justify-content : flex-start;
    font-size : var(--secondary-text-size);
    gap : 1rem;
}




.register-first-par {
    font-size : var(--primary-text-size);
    line-height : 62px;
}

.register-second-par {
    margin-top : 2rem;
    font-size : (--secondary-text-size);
    font-weight : 200;
    line-height : 20px;
}

.register-card {
    padding : 1rem 2rem;
    background-color : #0443c1;
    border-radius : 1rem;
    
}

.register-card:hover {
    scale : 102%;
    transition : all 0.3s;
    

}

.regsiter-card>p {
    font-size : 2.5rem;
    
}

.register-li {
    font-weight : 200;
    font-size : var(--other-text-size);
    margin-top : 0.5rem;
    line-height : 2;
    
}

.register-li>span {
    font-weight : 600;
    font-size : var(--other-text-size);

}




/* form css */

.register-form {
    padding : 1rem;
    height : 100%;
    width : 100%;
    display : flex;
    flex-direction : column;
   
    



}

.register-form>div>p {
    font-size : var(--secondary-text-size);
}



.input-form {
    margin-top : 8rem;
    display : grid;
    grid-template-columns : repeat(2,1fr);
    gap : 1rem;
    
    
   

}

.special-formitem {
    grid-column : 1/3;
}


