/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .site-layout {
    padding: 0 50px;
  }
  .show-details {
    margin-left: 1rem;
  }
  .mw-500 {
    width: 500px;
    background-color: red;
  }
}

body{
  font-family: "Poppins", sans-serif;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  font-size:62.5%;
}

body{
  /* padding:3rem; */
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  

}
:root { 
  --primary-color:blue;
  --secondary-color:lightblue;
  --text-color:white;
  --text-color-off:black;
  --primary-text-size:5rem;
  --secondary-text-size:3rem;
  --other-text-size:1rem;
  }

  .btn{
    background-color: var(--primary-color);
    color:var(--text-color);
    padding:1rem;
    border-radius:2rem;
  }

  .btn-red{
    background-color: red;
  }
  .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .grid{
    display: grid;
  }

  .grid-col-2{
    grid-template-columns: repeat(2,1fr);
  }

  